a { 
    text-decoration: none;
    font-weight: bold;
    color: #3b5f82;
}

a:hover { text-decoration: underline; }


.childrenimg{
    height: 150px;
}

.selform{
    border-color: #3b5f82;
    color: #3b5f82;
}

.selform-selected{
    background: #3b5f82;
    color: white;
}

.mbuttons{
    background: #3b5f82;
    color: white;
}

.textnavy{
    color: #3b5f82;
}

.bgstyle{
    background: #3b5f82;
    color: white;
}

.bordercolor{
    border-color: #3b5f82;
}

.headertext{
    color: #3b5f82;
    font-family: Serif;
}

.kgimgsize{
    width: 200px;
    
}

.kgimglogo{
    width: 300px;
    height: 200px;
}

.tddesc{
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img{
    width: 50px;
    height: 50px;
}

.header_image{
    background-image: url(/mainpic1.png);
    height: 200px;
}